body {
    font-family: 'roboto', 'Sans-serif', 'Monospace';
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

header {
    background-color: #1F2937;
    color:#E5E7EB;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color:#E5E7EB;
}

.main {
    background-color: #1F2937;
    display: flex;
    padding: 15px;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    font-weight: normal;
    color:#E5E7EB;
}

.signup {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color:#E5E7EB;
}

.main img {
    background-color: grey;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
    background-color: white;
}

.info_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color:#1F2937;
}

.info_image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.info_square {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.info_img {
    background-color: grey;
}

.info_subtext {
    color: grey;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 15px;
    gap: 15px;
}

.quote_text {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote_author {
    text-align: right;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.card_square {
    display: flex;
    background-color: #3882F6;
}

.container {
    margin-right: 60px;
}
.card_title {
    display: flex;
    justify-content: left;
    color: white;
    font-weight: bold;
}

.card_subtext {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:#E5E7EB;
    padding: 20px;
}