body {
    font-family: 'roboto', 'Sans-serif', 'Monospace';
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    color:#E5E7EB;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color:#E5E7EB;
}

.main {
    background-color: #1F2937;
    display: flex;
    padding: 15px;
}

.main.title {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.main.subtext {
    font-size: 18px;
    font-weight: normal;
    color:#E5E7EB;
}

button.signup {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color:#E5E7EB;
}

.main img {
    background-color: grey;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.info.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color:#1F2937;
}

.info.image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.info.square {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.info img {
    background-color: grey;
}

.info.subtext {
    color: grey;
}

