body {
    background-color: #1F2937;
    font-family: 'roboto', 'Sans-serif', 'Monospace';
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header {
    background-color: #1F2937;
    color:#E5E7EB;
    position: fixed;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px;
}

.logo {
    font-size: 24px;
    color: #437e70;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.logo img {
    width: 30px;
    height: auto;
}

ul {
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color:#437e70;
}

.main {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 15px;
    gap: 200px;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: bottom;
    width: 400px;
    height: auto;
    padding-top: 70px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 15px;;
}

.subtext {
    font-size: 18px;
    font-weight: normal;
    color:#E5E7EB;
    text-align: left;
    margin-bottom: 15px;
}

.button1 {
    background-color: #437e70;
    color:#E5E7EB;
    font-weight: bold;
    font-size: 18px;
    border-radius: 7px;
    border: 0px solid;
    width: 33%;
    padding: 6px 0;
}

.main_img {
    width: 400px;
    height: auto;
    border:2px solid #437e70;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.main_img img {
    max-width: 100%;
    border-radius: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 35px 15px 100px 15px;
    background-color: white;
}

.info_title {
    text-align: center;
    font-size: 26px;
    padding-bottom: 45px;
    font-weight: bold;
    color:#1F2937;
}

.info_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
}

.info_square {
    display: flex;
    flex-direction: column;
}

.info_img {
    width: 300px;
    height: auto;
    border:2px solid #437e70;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.info_img img {
    max-width: 100%;
    border-radius: 8px;
}

.info_subtext {
    width: 300px;
    text-align:center;
    color: #1F2937;
    font-weight: 300;
    padding-top: 5px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 15px;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    max-width: 700px;
}

.quote_text {
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    color:#1F2937;
}

.quote_author {
    padding-right: 70px; 
   text-align:  right;
   font-weight: bold;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px 15px;
    background-color: white;
}

.card_square {
    display: flex;
    padding: 30px 80px;
    border-radius: 8px;
    background-color: #3882F6;
}

.container3 {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}
.card_title {
    color: white;
    font-weight: bold;
}

.card_subtext {
    color: white;
}

.card_signup {
    background-color: #3882F6;
    color:#E5E7EB;
    font-weight: bold;
    font-size: 14px;
    border-radius: 7px;
    border: 2px solid white;
    padding: 6px 16px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:#E5E7EB;
    padding: 20px;
    font-size: 14px;
}